[Unit]
Description=Flu Daemon

[Service]
TimeoutStartSec=0
Environment=LOG_FILE="/var/log/flu-daemon.log"
ExecStart=/usr/bin/flu {{flu_args}}

[Install]
WantedBy=multi-user.target